.body {
  background-color: #1A1A1A;
  color: #E9DCD8;
  font-family: "Karla", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  text-align: justify;
  scroll-behavior: smooth;
  padding: 20px;
  margin: 0;
}
@media screen and (min-width: 650px) {
  .body {
    padding: 30px;
  }
}
@media screen and (min-width: 1100px) {
  .body {
    padding: 0;
  }
}

p, h1 {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1000px) {
  .wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 160px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 100px 0;
  }
}

.section {
  padding-bottom: 100px;
}
@media screen and (min-width: 1000px) {
  .section {
    padding-bottom: 160px;
  }
}

.callout {
  font-weight: 800;
}

.color-first {
  color: #A9E5BB;
}

.color-second {
  color: #944BBB;
}

.white {
  color: #E9DCD8;
}

.left {
  text-align: center;
  margin-top: 40px;
}
@media screen and (min-width: 1000px) {
  .left {
    margin: 0;
    text-align: justify;
    position: fixed;
    overflow: hidden;
    height: 100vh;
    width: 350px;
    grid-column: 1/2;
  }
}

@media screen and (min-width: 1000px) {
  .right {
    overflow-y: auto;
    grid-column: 2/3;
  }
}

.logo {
  font-family: "Vina Sans", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  background: linear-gradient(to right, #A9E5BB 20%, #E9DCD8 40%, #944BBB 90%);
  -webkit-background-clip: text;
  color: transparent;
  line-height: 1;
}
@media screen and (min-width: 650px) {
  .logo {
    font-size: 60px;
    letter-spacing: 3.5px;
    word-spacing: 11px;
  }
}

.meta {
  color: #817B79;
  max-width: 500px;
  margin: 0 auto;
}
@media screen and (min-width: 650px) {
  .meta {
    color: #E9DCD8;
  }
}

.nav {
  margin: 100px 0 0 0;
  padding: 0;
}
@media screen and (max-width: 1000px) {
  .nav {
    display: none;
  }
}
.nav__item {
  display: block;
  list-style: none;
  padding: 10px;
  text-decoration: none;
  color: #E9DCD8;
  text-transform: uppercase;
  transition: color 0.1s, font-weight 0.1s, transform 0.1s;
}

.icons {
  bottom: 100px;
  display: flex;
  align-items: center;
  width: 50%;
  margin: 20px auto;
}
@media screen and (min-width: 1000px) {
  .icons {
    position: fixed;
    margin: 0;
  }
}
.icons__item {
  transition: transform 0.3s ease;
  padding: 20px 10px;
  margin: 0 auto;
}
@media screen and (min-width: 1000px) {
  .icons__item {
    margin: 0;
  }
  .icons__item:first-child {
    padding-left: 0;
  }
}
.icons__item:hover {
  transform: scale(1.3);
}

.mobile-menu {
  display: none;
}
@media (max-width: 1000px) {
  .mobile-menu {
    background-color: rgba(26, 26, 26, 0.9);
    display: block;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
  }
}

.mobile-nav {
  margin: 0;
  padding: 0;
}
.mobile-nav li.active {
  font-weight: 800;
  color: #A9E5BB;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
  margin: 0;
}

.title {
  font-size: 16px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 5px;
}
.title--skill {
  margin-bottom: 20px;
}

.subtitle {
  font-size: 12px;
  margin-bottom: 10px;
  opacity: 0.5;
}

.hover {
  border-radius: 10px;
}
@media screen and (min-width: 650px) {
  .hover {
    padding: 20px 10px;
  }
  .hover:hover {
    background-color: rgba(203, 173, 164, 0.02);
  }
}

.usedskill {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}
.usedskill__item {
  padding: 0 5px;
  background-color: rgba(233, 220, 216, 0.1);
  border-radius: 50px;
  font-size: 11px;
  color: #944BBB;
}

.about {
  padding-top: 8px;
}
.about__text {
  margin-bottom: 30px;
}
.about__text:last-child {
  margin-bottom: 0;
}
.about__hobbies {
  position: relative;
  z-index: 3;
}

.czechitas {
  cursor: pointer;
  transition: color 0.5s;
}
.czechitas:hover {
  color: #FA54AC;
}

.udemy {
  cursor: pointer;
  transition: color 0.5s;
}
.udemy:hover {
  color: #9E27E9;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}
@media screen and (min-width: 650px) {
  .skills {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.skills__frame {
  background-color: rgba(203, 173, 164, 0.02);
  padding: 20px 10px;
  text-align: center;
  border-radius: 10px;
}
.skills__frame:hover {
  background-color: rgba(203, 173, 164, 0.05);
  transition: 0.5s;
}
.skills__frame:hover .title--skill {
  color: #A9E5BB;
  transition: 0.5s;
}

.exp {
  margin-bottom: 50px;
}
.exp:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 650px) {
  .exp {
    display: flex;
    gap: 20px;
  }
}
.exp__date {
  font-size: 12px;
  opacity: 0.5;
}
@media screen and (min-width: 650px) {
  .exp__date {
    flex: 1 0 90px;
    text-align: right;
  }
}

.project {
  margin-bottom: 100px;
}
.project__link {
  color: #E9DCD8;
  text-decoration: none;
}
.project:last-child {
  margin-bottom: 0;
}
.project__images {
  position: relative;
  width: 100%;
  margin-top: 30px;
  z-index: 1;
}
.project__container {
  border: 1px solid #E9DCD8;
  border-radius: 10px;
  overflow: hidden;
}
.project__container--screen {
  width: 95%;
}
@media screen and (min-width: 650px) {
  .project__container--screen {
    width: 90%;
  }
}
.project__container--phone {
  width: 25%;
  position: absolute;
  right: 0;
  bottom: -10px;
}
@media screen and (min-width: 650px) {
  .project__container--phone {
    bottom: -20px;
    width: 20%;
  }
}
.project__image {
  width: 100%;
}
.project__image--a {
  transition: transform 3s ease-in-out;
}
.project__image--b {
  transition: transform 1s ease-in-out;
}
.project__image--c {
  transition: transform 3.5s ease-in-out;
}
.project__image--d {
  transition: transform 3.5s ease-in-out;
}
.project__frame {
  height: 250px;
  overflow: hidden; /* Hide overflow */
  position: relative;
}
@media screen and (min-width: 650px) {
  .project__frame {
    height: 300px;
  }
}
.project__frame--screen {
  opacity: 0.9;
}
.project__frame--phone {
  height: 200px;
}
@media screen and (min-width: 650px) {
  .project__frame--phone {
    height: 240px;
  }
}
.project__frame:hover .project__image {
  opacity: 1;
}
.project__frame:hover .project__image--a {
  transform: translateY(-66%);
}
@media screen and (min-width: 650px) {
  .project__frame:hover .project__image--a {
    transform: translateY(-71%);
  }
}
.project__frame:hover .project__image--b {
  transform: translateY(-19%);
}
@media screen and (min-width: 650px) {
  .project__frame:hover .project__image--b {
    transform: translateY(-17%);
  }
}
.project__frame:hover .project__image--c {
  transform: translateY(-66%);
}
@media screen and (min-width: 650px) {
  .project__frame:hover .project__image--c {
    transform: translateY(-71%);
  }
}
.project__frame:hover .project__image--d {
  transform: translateY(-75%);
}
@media screen and (min-width: 650px) {
  .project__frame:hover .project__image--d {
    transform: translateY(-75%);
  }
}

.footer {
  margin: 100px 0 0 0;
  padding-bottom: 30px;
}
.footer__goodbye {
  padding-top: 10px;
}
.footer__text {
  opacity: 0.5;
}

.cv {
  padding-top: 10px;
}
.cv__link {
  text-decoration: none;
  color: #E9DCD8;
  font-weight: 800;
  display: inline-block;
  position: relative;
}
.cv__link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #A9E5BB;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}
.cv__link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Cursor Halo */
.cursor-halo {
  position: fixed;
  width: 800px;
  height: 800px;
  background: radial-gradient(circle, rgba(148, 75, 187, 0.1) 0%, rgba(255, 255, 255, 0) 70%);
  border-radius: 50%;
  pointer-events: none;
}

.dog {
  cursor: pointer;
  position: relative;
}
.dog__img {
  position: absolute;
  width: 110px;
  z-index: -1;
  top: 20px;
  right: -30px;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.dog:hover .dog__img {
  transform: translateY(-170px) translateX(0);
  opacity: 1;
}

.bikejoring {
  cursor: pointer;
}
.bikejoring__img {
  position: absolute;
  width: 80px;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0;
}
.bikejoring:hover .bikejoring__img {
  animation: bj 2.5s ease-in-out;
}

@keyframes bj {
  0% {
    transform: translateY(0) translateX(0);
  }
  20% {
    transform: translateY(-30px) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-30px) translateX(450px);
    opacity: 0;
  }
}
.firework {
  position: relative;
  cursor: pointer;
}
.firework__img {
  position: absolute;
  z-index: 1;
  bottom: 8px;
  left: 30%;
  opacity: 0;
  font-size: 10px;
}
.firework:hover {
  transition: 0.5s ease-out;
  color: #E9DCD8;
}
.firework:hover .fw1 {
  animation: fw1 1.5s ease-in-out 0.1s;
}
.firework:hover .fw2 {
  animation: fw2 1.5s ease-in-out 0.2s;
}
.firework:hover .fw3 {
  animation: fw3 1.6s ease-in-out 0.3s;
}
.firework:hover .fw4 {
  animation: fw4 1.5s ease-in-out 0.4s;
}
.firework:hover .fw5 {
  animation: fw5 1s ease-in-out 0.5s;
}
.firework:hover .fw6 {
  animation: fw6 1.5s ease-in-out 0.6s;
}
.firework:hover .fw7 {
  animation: fw7 1.5s ease-in-out 0.7s;
}
.firework:hover .fw8 {
  animation: fw8 1.9s ease-in-out 0.8s;
}
.firework:hover .fw9 {
  animation: fw9 1.5s ease-in-out 0.9s;
}
.firework:hover .fw10 {
  animation: fw10 1.5s ease-in-out 1s;
}

@keyframes fw1 {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  55% {
    transform: translateY(-100px) translateX(-20px) scale(1.5);
  }
  85% {
    opacity: 1;
    scale: 1;
  }
  100% {
    transform: translateY(50px) translateX(-50px);
    opacity: 0;
  }
}
@keyframes fw2 {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-80px) translateX(20px) scale(1.5);
  }
  85% {
    opacity: 1;
    scale: 1;
  }
  100% {
    transform: translateY(50px) translateX(50px);
    opacity: 0;
  }
}
@keyframes fw3 {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  40% {
    transform: translateY(-140px) translateX(50px) scale(1.2);
  }
  85% {
    opacity: 1;
    scale: 1;
  }
  100% {
    transform: translateY(150px0px) translateX(75px);
    opacity: 0;
  }
}
@keyframes fw4 {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  35% {
    transform: translateY(-40px) translateX(-20px) scale(1);
  }
  85% {
    opacity: 1;
    scale: 1;
  }
  100% {
    transform: translateY(50px) translateX(-30px);
    opacity: 0;
  }
}
@keyframes fw5 {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  45% {
    transform: translateY(-80px) translateX(50px) scale(1.1);
  }
  85% {
    opacity: 1;
    scale: 1;
  }
  100% {
    transform: translateY(50px) translateX(65px);
    opacity: 0;
  }
}
@keyframes fw6 {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  60% {
    transform: translateY(-40px) translateX(50px) scale(1.2);
  }
  85% {
    opacity: 1;
    scale: 1;
  }
  100% {
    transform: translateY(50px) translateX(65px);
    opacity: 0;
  }
}
@keyframes fw7 {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-70px) translateX(-20px) scale(1.5);
  }
  85% {
    opacity: 1;
    scale: 1;
  }
  100% {
    transform: translateY(50px) translateX(-30px);
    opacity: 0;
  }
}
@keyframes fw8 {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  40% {
    transform: translateY(-40px) translateX(-20px) scale(1);
  }
  85% {
    opacity: 1;
    scale: 1;
  }
  100% {
    transform: translateY(50px) translateX(-30px);
    opacity: 0;
  }
}
@keyframes fw9 {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  55% {
    transform: translateY(-80px) translateX(20px) scale(1.1);
  }
  85% {
    opacity: 1;
    scale: 1;
  }
  100% {
    transform: translateY(50px) translateX(50px);
    opacity: 0;
  }
}
@keyframes fw10 {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-140px) translateX(50px) scale(1.2);
  }
  85% {
    opacity: 1;
    scale: 1;
  }
  100% {
    transform: translateY(50px) translateX(75px);
    opacity: 0;
  }
}
.reveal {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.reveal.active {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */