@use "var";


/* Cursor Halo */
.cursor-halo {
    position: fixed;
    width: 800px;
    height: 800px;
    background: radial-gradient(circle, rgba(234, 29, 135, 0.05) 0%,  rgba(255,255,255,0) 70%);
    border-radius: 50%;
    pointer-events: none;
}




// firework animation
.firework {
    position: relative;
    cursor: pointer;
    font-weight: 800;
    font-size: 16px;
    line-height: 0;

    &__img {
        position: absolute;
        z-index: 1;
        bottom: 8px;
        left: 30%;
        opacity: 0;
    }

    &:hover {
        transition: 0.5s ease-out;
        color: var.$color-light;
    }


    &:hover .fw1 {
        animation: fw1 1.5s ease-in-out 0.1s;
    }

    &:hover .fw2 {
        animation: fw2 1.5s ease-in-out 0.2s;
    }

    &:hover .fw3 {
        animation: fw3 1.6s ease-in-out 0.3s;
    }

    &:hover .fw4 {
        animation: fw4 1.5s ease-in-out 0.4s;
    }

    &:hover .fw5 {
        animation: fw5 1s ease-in-out 0.5s;
    }

    &:hover .fw6 {
        animation: fw6 1.5s ease-in-out 0.6s;
    }

    &:hover .fw7 {
        animation: fw7 1.5s ease-in-out 0.7s;
    }

    &:hover .fw8 {
        animation: fw8 1.9s ease-in-out 0.8s;
    }

    &:hover .fw9 {
        animation: fw9 1.5s ease-in-out 0.9s;
    }

    &:hover .fw10 {
        animation: fw10 1.5s ease-in-out 1s;
    }

}



@keyframes fw1 {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
    55% {
        transform: translateY(-100px) translateX(-20px) scale(1.5);
    }

    85% {
        opacity: 1;
        scale: 1;
    }
    100% {
        transform: translateY(50px) translateX(-50px);
        opacity: 0;
    }
}


@keyframes fw2 {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
    50% {
        transform: translateY(-80px) translateX(20px) scale(1.5);
    }

    85% {
        opacity: 1;
        scale: 1;
    }
    100% {
        transform: translateY(50px) translateX(50px);
        opacity: 0;
    }
}

@keyframes fw3 {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
    40% {
        transform: translateY(-140px) translateX(50px) scale(1.2);
    }

    85% {
        opacity: 1;
        scale: 1;
    }
    100% {
        transform: translateY(150px0px) translateX(75px);
        opacity: 0;
    }
}

@keyframes fw4 {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
    35% {
        transform: translateY(-40px) translateX(-20px) scale(1);
    }

    85% {
        opacity: 1;
        scale: 1;
    }
    100% {
        transform: translateY(50px) translateX(-30px);
        opacity: 0;
    }
}

@keyframes fw5 {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
    45% {
        transform: translateY(-80px) translateX(50px) scale(1.1);
    }

    85% {
        opacity: 1;
        scale: 1;
    }
    100% {
        transform: translateY(50px) translateX(65px);
        opacity: 0;
    }
}

@keyframes fw6 {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
    60% {
        transform: translateY(-40px) translateX(50px) scale(1.2);
    }

    85% {
        opacity: 1;
        scale: 1;
    }
    100% {
        transform: translateY(50px) translateX(65px);
        opacity: 0;
    }
}



@keyframes fw7 {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
    50% {
        transform: translateY(-70px) translateX(-20px) scale(1.5);
    }

    85% {
        opacity: 1;
        scale: 1;
    }
    100% {
        transform: translateY(50px) translateX(-30px);
        opacity: 0;
    }
}


@keyframes fw8 {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
    40% {
        transform: translateY(-40px) translateX(-20px) scale(1);
    }

    85% {
        opacity: 1;
        scale: 1;
    }
    100% {
        transform: translateY(50px) translateX(-30px);
        opacity: 0;
    }
}

@keyframes fw9 {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
    55% {
        transform: translateY(-80px) translateX(20px) scale(1.1);
    }

    85% {
        opacity: 1;
        scale: 1;
    }
    100% {
        transform: translateY(50px) translateX(50px);
        opacity: 0;
    }
}

@keyframes fw10 {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
    50% {
        transform: translateY(-140px) translateX(50px) scale(1.2);
    }

    85% {
        opacity: 1;
        scale: 1;
    }
    100% {
        transform: translateY(50px) translateX(75px);
        opacity: 0;
    }
}