@use "var";


// barva mobilního menu
.mobile-nav--koh li.active { 
    color: var.$color-koh-first;

}

.cs {
    margin-top: 10px;
}

.logo-koh {
    font-family: var.$font-koh-logo;
    color: var.$color-koh-second;
    font-size: 60px;
    font-weight: 100;
}

.arrows--koh {
    font-family: var.$font-koh-logo;
    font-weight: 100;
    color: var.$color-koh-second;
    font-size: 30px;
}

.underline--koh::after {
    background-color: var.$color-koh-first;
}

.koh-heading {
    font-family: var.$font-koh-heading;
    font-size: 20px;
    font-weight: 100;
    color: var.$color-koh-first;
    margin: 0 0 10px 0;
}

.subsection {
    margin-bottom: 30px;
}

.task {
    color: var.$color-koh-second;

    &__font {
        font-family: var.$font-koh-logo;
        font-size: 25px;
    }
}

.flip-card-back--koh {
    color: var.$color-koh-second;
}

.tests {
    margin: 30px 0;
}
.scenario {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

    &:last-child {
        margin-bottom: 30px;
    }

    &:hover {
        background-color: rgb(203, 173, 164, 0.05);

        & .scenario__left {
            color: var.$color-koh-second;
        }
    }

    &__left {
        flex-basis: 30%;
        font-weight: 600;

        @media screen and (min-width: 650px) {
            flex-basis: 20%;
        }
    }
}

.cv__link--koh::after {
    background-color: var.$color-koh-first;
}

.close--koh:hover {
    color: var.$color-koh-first;
}

.persona {

    padding: 10px;
    margin-top: 20px;
    @media screen and (min-width: 650px) {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-row: 2fr 1fr;
    }

    &__img {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;

        & img {
            width: 60%;

            @media screen and (min-width: 650px) {
                width: 100%;
            }
        }
    }

    &__inicials {
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
    }

    &__info {
        grid-column: 2/3;
        grid-row: 1/3;
    }
}