@use "var";



.logo {
    font-family: var.$font-special;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;

    background: linear-gradient(to right, var.$color-first 20%, var.$color-light 40%, var.$color-second 90%);
    -webkit-background-clip: text;
    color: transparent;
    line-height: 1;

    @media screen and (min-width: 768px) {
        font-size: 60px;
        letter-spacing: 3.5px;
        word-spacing: 11px;
    }
}


.meta {
    color: var.$color-fade;

    @media screen and (min-width: 768px) {
        color: var.$color-light;
    }
}



// navigation
.nav {
    margin: 100px 0 0 0;
    padding: 0;

    @media screen and (max-width: 768px) {
        display: none;
    }

    &__item {
        display: block;
        list-style: none;
        padding: 10px;
        text-decoration: none;
        color: var.$color-light;
        text-transform: uppercase;
        transition: color 0.1s, font-weight 0.1s, transform 0.1s;
    }
}

.inactive:hover {
    color: #FF5CB3;
}



// icons
.icons {
    bottom: 100px;
    display: flex;
    align-items: center;
    width: 50%;
    margin: 20px auto;
    
    

    @media screen and (min-width: 768px) {
        position: fixed;
        margin: 0;
    }
}



.icon {
    transition: transform 0.3s ease;
    padding: 20px 10px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        margin: 0;

        &:first-child {
            padding-left: 0;
        }
    }

    &:hover {
        transform: scale(1.3); 
    }
}






.mobile-menu {
    display: none;

    @media (max-width: 768px) {
        background-color: rgb(26, 26, 26, 0.9);
        display: block; 
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }
}




.mobile-nav {
    margin: 0;
    padding: 0;
 
    & li.active {
        font-weight: 800;
        color: var.$color-first;
        text-transform: uppercase;
        text-align: center;
        padding: 20px 0;
        margin: 0;
     
    }
}
