@use "var";

.body {
    background-color: var.$color-dark;
    color: var.$color-light;
    font-family: var.$font-main;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
    text-align: justify;
    scroll-behavior: smooth;

    padding: 0;
    margin: 0;
}

p, h1 {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 160px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 100px 0;
}

.section {
    padding-bottom: 160px;
}

.callout {
    font-weight: 800;
}

.color-first {
    color: var.$color-first;
}

.color-second {
    color: var.$color-second;
}








.left {
    position: fixed;
    overflow: hidden;
    height: 100vh;
    width: 350px;
    grid-column: 1/2;
}

.right {
    overflow-y: auto;
    grid-column: 2/3;
}


