@use "var";


// toto bude na stín
// .element {
//     background: linear-gradient(to top, #1a1a1a, transparent);
//     /* Add other styles as needed */
//     width: 100%;
//     height: 100vh; /* Adjust height as needed */
//   }


// common
.title {
    font-size: 16px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 5px;

    &--skill {
        margin-bottom: 20px;
    }
}

.subtitle {
    font-size: 12px;
    margin-bottom: 10px;
    opacity: 0.5;
}



.hover {
    border-radius: 10px;

    @media screen and (min-width: 650px) {
        padding: 20px 10px;

        &:hover {
            background-color: rgb(203, 173, 164, 0.02);
        }
    }
}



.usedskill {
    display: flex;
    gap: 5px;
    margin-top: 10px;

    &__item {
        padding: 0 5px;
        background-color: rgb(233, 220, 216, 0.1);
        border-radius: 50px;
        font-size: 11px;
        color: var.$color-second;
    }
}





// sections



// about
.about {
    padding-top: 8px;

    &__text {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__hobbies {
        position: relative;
        z-index: 3;
    }
}

.czechitas {
    cursor: pointer;
    transition: color 0.5s;
    
    &:hover {
        color: #FA54AC;  
    }
}


.udemy {
    cursor: pointer;
    transition: color 0.5s;
    
    &:hover {
        color: #9E27E9;
    }
}






// skills
.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;

    @media screen and (min-width: 650px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }


    &__frame {
        background-color: rgb(203, 173, 164, 0.02);
        padding: 20px 10px;
        text-align: center;
        border-radius: 10px;

        &:hover {
            background-color: rgb(203, 173, 164, 0.05);
            transition: .5s;

            & .title--skill {
                color: var.$color-first;
                transition: .5s;
            }
        }
    }
}






// experiences
.exp {
    margin-bottom: 50px;

    &:last-child {
        margin-bottom: 0;
    }

    @media screen and (min-width: 650px) {
        display: flex;
        gap: 20px;
    }


    &__date {
        font-size: 12px;
        opacity: 0.5;

        @media screen and (min-width: 650px) {
            flex: 1 0 90px;
            text-align: right;
        }
    }
}










// projects

.message {
    margin-left: 10px;
}
.project {
    margin-bottom: 100px;

    &__link {
        color: var.$color-light;
        text-decoration: none;
    }

    &:last-child {
        margin-bottom: 0;
    }


    &__images {
        position: relative;
        width: 100%;
        margin-top: 30px;
        z-index: 1;
    }

    &__container {
        border: 1px solid var.$color-light;
        border-radius: 10px;
        // padding: 10px 0;
        overflow: hidden;

        &--screen {
            width: 95%;

            @media screen and (min-width: 650px) {
                width: 90%;
            }
        }

        &--phone {
            width: 25%;
            position: absolute;
            right: 0;
            bottom: -10px;

            @media screen and (min-width: 650px) {
                bottom: -20px;
                width: 20%;
            }
        }
    }

    &__image {
        width: 100%;

        &--a {
            transition: transform 3s ease-in-out;
        }

        &--b {
            transition: transform 1s ease-in-out;
        }

        &--c {
            transition: transform 3.5s ease-in-out;
        }

        &--d {
            transition: transform 3.5s ease-in-out;
        }
    }

    &__frame {
        height: 250px;
        overflow: hidden; /* Hide overflow */
        position: relative;

        @media screen and (min-width: 650px) {
            height: 300px;
        }

        &--screen {
            opacity: 0.9;
        }

        &--phone {
            height: 200px;

            @media screen and (min-width: 650px) {
                height: 240px;
            }
        }

        &:hover .project__image {
            opacity: 1;

            &--a {
                transform: translateY(-66%);

                @media screen and (min-width: 650px) {
                    transform: translateY(-71%);
                }
            }

            &--b {
                transform: translateY(-19%);

                @media screen and (min-width: 650px) {
                    transform: translateY(-17%);
                }
            }

            &--c {
                transform: translateY(-66%);

                @media screen and (min-width: 650px) {
                    transform: translateY(-71%);
                }
            }

            &--d {
                transform: translateY(-75%);

                @media screen and (min-width: 650px) {
                    transform: translateY(-75%);
                }
            }
        }
    }
    

}
















// footer
.footer {
    margin: 100px 0 0 0;
    padding-bottom: 30px;

    &__goodbye {
        padding-top: 10px;
    }

    &__text {
        opacity: 0.5;
    }
}



.cv {
    padding-top: 10px;

    &__link {
    text-decoration: none;
    color: var.$color-light;
    font-weight: 800;
    display: inline-block;
    position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: var.$color-first;
            transform-origin: bottom right;
            transition: transform 0.3s ease-out;
        }

        &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
        
    }
}


