$color-dark: #1A1A1A;
$color-fade: #817B79;
$color-light: #E9DCD8;
$color-first: #A9E5BB;
$color-second: #944BBB;

$font-main: 'Karla', sans-serif;
$font-special: 'Vina Sans', sans-serif;



// case study mc
$font-mc-logo: 'Reenie Beanie', cursive;
$font-mc-heading: 'Jomhuria', serif;

$color-mc-light: #F3F5F2;
$color-mc-first: #F6BD60;
$color-mc-second: #BB8B9E;



// case study kohoutky
$font-koh-logo: 'Sacramento', cursive;
$font-koh-heading: 'Ubuntu', sans-serif;

$color-koh-light: #F3F7F8;
$color-koh-first: #5C6F68;
$color-koh-second: #C5BBAC;