<section class="section" id="about">
    <div class="mc-subcategory">
        <h2 class="koh-heading">Project Requirements</h2>
        <ul>
            <li>it is a multi-page website, it has at least 4 different content pages</li>
            <li>it is responsive - it has a mobile and at least one other version (tablet, pc, ...)</li>
            <li>uses flexbox or CSS grid</li>
            <li>is built on the Eleventy generator and uses at least one template</li>
            <li>uses at least one of the following techniques - BEM, Sass, collections</li>
        </ul>
    </div>

    <div class="mc-subcategory">
        <h2 class="koh-heading reveal">Project Description</h2>
        <!-- <p class="description"><span class="callout">TASK: </span> conduct simplified research and create a brief description of the website and its features</p><br> -->
        <!-- <p>The first task in creating the project was to conduct simplified "research" and create a brief description - what the website will be about, who its users will be, whether there is any competition.</p><br> -->
        <p class="reveal">Kouhoutky is a lovely family farm near Brno. On the website, you can enjoy a quick read about the farm's story and the values that owners believe. Discover how they're cared for, and explore the products we get from them (delicious milk, youghut and cheese). Beyond the adorable animals, the farm also grows fresh fruits and veggies. And guess what? You can buy all these goodies either online from the eshop* or by dropping by the farm in person.</p><br>
        
    </div>
</section>




<section class="section" id="research">

    <div class="mc-subcategory">
        <h2 class="koh-heading reveal">Competition</h2>

        <p>While searching for an inspiration and analysing my competition, I chose these three websites:</p><br>
        <div class="competition">
            <a href="https://farmakaterina.cz" class="flip-card reveal">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/casestudy/koh/comp1.png" alt="image of a concurence - https://farmakaterina.cz">
                    </div>
                    <div class="flip-card-back flip-card-back--koh">
                        <p>farma Kateřina</p> 
                    </div>
                </div>
            </a>

            <a href="https://ekosadykomna.cz" class="flip-card reveal">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/casestudy/koh/comp2.png" alt="image of a concurence - https://ekosadykomna.cz">
                    </div>
                    <div class="flip-card-back flip-card-back--koh">
                        <p>Eko Sady Komňa</p> 
                    </div>
                </div>
            </a>

            <a href="https://www.farmaholyvrch.cz" class="flip-card reveal">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/casestudy/koh/comp3.png" alt="image of a concurence - mhttps://www.farmaholyvrch.cz">
                    </div>
                    <div class="flip-card-back flip-card-back--koh">
                        <p>farma Holý Vrch</p> 
                    </div>
                </div>
            </a>
        </div>
    </div>


    <div class="mc-subcategory">
        <h2 class="koh-heading reveal">Persona</h2>
        <p class="reveal">To represent a typical user expected to visit my website, I created this persona:
        </p>

        <div class="persona reveal hover">
            <div class="persona__img">
                <img src="/images/casestudy/koh/persona.svg" alt="avatar of a person">
            </div>

            <div class="persona__inicials">
                <p class="callout">Lenka Pavelcová</p>
                <p class="callout">26 yo</p>
            </div>

            <div class="persona__info">
                <ul>
                    <li class="reveal">young mother on maternity leave</li>
                    <li class="reveal">she likes to cook and the quality of the ingredients is very important to her, she wants for herself and her family only the best</li>
                    <li class="reveal">it is important for her to know the source of the meat and animal products she buys</li>
                    <li class="reveal">she enjoys going out into nature and on trips with her family</li>
                </ul>
            </div>
        </div>

        
    </div>
</section>




<section class="section" id="design">

    <h2 class="koh-heading reveal">Wireframes</h2>


    <p class="reveal">
        Another task of the assignment was to create a wireframe and interactive prototype in Figma. I started the whole design proces with inspiration hunt on pinterest, paper sketches and searching for stock images, that I could use. Then I continued to create with my first wireframes ever (and learn to work in Figma during the process):
    </p>

    <div class="reveal gallery hover">
        <img class="open" src="/images/casestudy/koh/wireframes-koh.png" alt="image of wireframe for kohoutky">
    </div>

    <div id="myModal" class="modal">
        <span class="close close--koh">&times;</span>
        <img class="modal-content" id="modalImage">
    </div>

    <p class="reveal">
        At this stage, I still thought that I will be able to create an eshop, so I made wireframes (and later test scenarios) for that as well.
    </p>

    <div class="reveal gallery hover">
        <img class="open" src="/images/casestudy/koh/eshop-koh.png" alt="image of wireframe for eshop">
    </div>
</section>






<section class="section" id="testing">

    
        <h2 class="koh-heading reveal">Test Scenarios</h2>
        
        
            <div class="scenario reveal">
                <p class="scenario__left">Scenario 1:</p>
                <p>find an article about newborn baby goats</p>
            </div>

            <div class="scenario reveal">
                <p class="scenario__left">Scenario 2:</p>
                <p>add a "gift voucher" worth 500 CZK to your shopping basket</p>
            </div>

            <div class="scenario reveal">
                <p class="scenario__left">Scenario 3:</p>
                <p>check out the farm's opening hours</p>
            </div>

        <div class="tests">
            <p class="reveal">These scenarios were tested on three users. User 1 successfully completed the tasks, finding everything on the first click. Users 2 and 3 encountered the same two issues:</p>

            <ul>
                <li class="reveal">Initially, they attempted to locate the article about the goats in the "about the farm" section. They expressed a lack of interest in the "news" section. A potential solution could be renaming the "news" section to a more engaging title, making it more likely for users to click on. After modifying the instruction to "find an article about our new product," they navigated correctly to the news section.</li>
                <li class="reveal">While on the news overview page, both users first tried to click on the image instead of the "more" button. In the final version of the page, the image will be clickable as well.</li>
            </ul>
        </div>


        <!-- <p class="cv reveal">
            Go ahead and  <a class="cv__link cv__link--koh" href="https://www.figma.com/file/yAbNk4QR443j78fFoGL1JK/Kohoutky?node-id=19-2&t=MQbPYuBoS1kwQj2U-0">check the test scenarios here.</a>
        </p> -->

    
  
</section>

<section class="section" id="conclusion"></section>