<section class="section" id="research">

    <div class="mc-subcategory">
        <h2 class="mc-heading">Who is Michaela Cibulková?</h2>
        <p>Michaela Cibulková is a young student and photographer known from her instagram <a class="insta" href="https://www.instagram.com/zivotspudlem/">@zivotspudlem</a> and her customers come either from Instagram or advertisements in "dog groups" on Facebook. She is just beginning with wedding and people photography and wishes to focus on dogs (as does my research).</p>
    </div>

    <div class="mc-subcategory">
        <h2 class="mc-heading">Competition Analysis</h2>

        <div class="competition">
            <a href="https://ve-shandor.com" class="flip-card reveal">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/casestudy/competition1.png" alt="image of a concurence - ve-shandor">
                    </div>
                    <div class="flip-card-back">
                        <p>ve-shandor.com</p> 
                    </div>
                </div>
            </a>

            <a href="https://kristinakunclova.com" class="flip-card reveal">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/casestudy/competition2.png" alt="image of a concurence - kristinakunclova">
                    </div>
                    <div class="flip-card-back">
                        <p>kristinakunclova.com</p> 
                    </div>
                </div>
            </a>

            <a href="https://www.mrackova.com" class="flip-card reveal">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/casestudy/competition3.png" alt="image of a concurence - mrackova">
                    </div>
                    <div class="flip-card-back">
                        <p>mrackova.com</p> 
                    </div>
                </div>
            </a>
        </div>

       
        
        <ul>
            <li class="reveal">Competitor websites look alike and use the same template; at first glance, it is hard to distinguish them, and nothing stands out.</li>
            <li class="reveal">There is a lot of repetitive text and unnecessary information that "hides" important content.</li>
            <li class="reveal">Inconsistency across other platforms (Instagram, Facebook).</li>
            <li class="reveal">Common structure: about me, portfolio, offers, contact.</li>
        </ul>  

    </div>

    <div class="mc-subcategory">
        <h2 class="mc-heading reveal">Key Insights</h2>
        <p class="reveal">The audience of Michaela Cibulková mainly comprises young women (age 15-30) and young couples (age 25-40), owners of at least one dog. I interviewed six people from the target group, and they found some common ground:</p>

        <ul>
            <li class="reveal">It is important to know the photographer - know them, feel close to them, see a lot of their work before making a decision</li>
            <li class="reveal">The demand for photography varies throughout the year; most of them prefer their photos to be taken during fall, spring, or in the snow, and they enjoy discounted and special shooting offers during these times.</li>
            <li class="reveal">They all appreciate transparent pricing</li>
        </ul>
    </div>


</section>





<section class="section" id="problems">
    <h2 class="mc-heading reveal">Problem Statement &amp Design Goals</h2>

    <div class="problems-card hover reveal">
        <p><span class="callout">Lack of Differentiation Among Competitors</span>, users may find it challenging to distinguish between different dog photographers, potentially leading to a lack of brand recognition and memorability.</p>
        <div class="goal">
            <p class="goal__logo">Goal?</p>
            <p class="goal__text">Create a unique and memorable design that stands out from competitors.</p>
        </div>
    </div>


    <div class="problems-card hover reveal">
        <p><span class="callout">Inconsistency Across Platforms</span>, users may not easily recognize the connection between the photographer's official website and their social media profiles.</p>
        <div class="goal">
            <p class="goal__logo">Goal?</p>
            <p class="goal__text">Ensure coherence between the website and social media platforms to create a unified and recognizable image.</p>
        </div>
    </div>


    <div class="problems-card hover reveal">
        <p><span class="callout">Seasonal Variation in Demand</span>, the demand for photography varies throughout the year, with specific preferences for certain seasons and conditions (spring, fall, snow).</p>
        <div class="goal">
            <p class="goal__logo">Goal?</p>
            <p class="goal__text">Design the website to promote special offers during peak times.</p>
        </div>
    </div>


    <div class="problems-card hover reveal">
        <p><span class="callout">Transparent pricing</span>, lack of transparent pricing could lead to frustration and a potential barrier to users considering the services.</p>
        <div class="goal">
            <p class="goal__logo">Goal?</p>
            <p class="goal__text">Clearly display pricing information.</p>
        </div>
    </div>

</section>





<section class="section" id="design">

    <h2 class="mc-heading reveal">Sketching wireframes</h2>
    <p class="reveal">First, I sketched wireframes on paper to get an idea. I had five main pages - landing, about me, portfolio, offer, contact. At this point, I was still not sure how to solve the dog/human categories division.</p>
    <div class="reveal gallery hover">
        <img class="open round" src="/images/casestudy/lofi.jpeg" alt="wireframe">
        <p class="description">first sketches, 5 main paiges (landing page, about me, portfolio, offer, contact)</p>
    </div>

    <h2 class="mc-heading reveal">HiFi Wireframes</h2>
    <p class="reveal">I continued with high-fidelity wireframes in Figma. Although I wanted to create a website that would be fresh, catchy, and different, <span class="callout">I ended up with just another boring copy</span> of concurence and got stuck. I tried over and over again to improve it, but I kept getting the same result. It was okay and propably would be sufficient, but I was not satisfied.</p>

    <div class="reveal gallery hover">
        <img class="open" src="/images/casestudy/MC_V111.png" alt="image of wireframe - first design">
        <p class="description">first design, definitelly not happy about the result</p>
    </div>



    <p class="reveal">The idea for the final design came out of nowhere. I had been thinking about digital painting for a while and was curious if it would be possible to create an illustration in Figma. And so an illustration of JJ the poodle was created. Earlier that day, I found a nice shade of yellow while searching for inspiration. It all just clicked and I started from scratch.</p><br>
    

    <div class="reveal gallery hover">
        <img class="open" src="/images/casestudy/MC_V222.png" alt="image of wireframe - second and final design">
        <p class="description">final design, all illustrations were created in Figma</p>
    </div>

    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modalImage">
    </div>

    <p class="reveal">I was particularly happy when I got an idea for a "camera" toggle switch on portfolio and offer pages - this way, customers could easily see both categories without the need to have them both in the menu. </p>

    <div class="reveal gallery hover">
        <img class="open" src="/images/casestudy/toggle.png" alt="image of toggle button">
        <p class="description">toggle button to switch between two categories</p>
    </div>

    <p class="reveal">And so, I had the final design (I made some small changes during coding, though) ready for coding and testing.</p><br>


    <h2 class="mc-heading reveal">Design overview</h2>
    
    <p class="reveal">During the coding, I returned to the main illustration and realized that the dog looks creepy (yeah, I did not see that before)". So I started over and went from quite creepy to extra creepy and then to a nice illustration.</p><br>
    <div class="reveal gallery hover delete-margin">
        <img class="open" src="/images/casestudy/ill.png" alt="image of evolutions of illustrations">
        <p class="description">evolution of illustration: creepy > super creepy > nice</p>
    </div><br>

    <p class="reveal">So, finally, the final design:</p>
    <div class="reveal gallery hover delete-margin">
        <img class="open" src="/images/casestudy/design.svg" alt="image of the final design - colors, fonts, illustrations">
    </div>

</section>






<section class="section" id="testing">
    <h2 class="mc-heading reveal">Testing the Prototype</h2>
    <p class="reveal">Testing the prototype (created from the second version of hifi wireframes) in Figma went surprisingly well, and I did not have much to change or improve, so I started coding.</p>

    <h2 class="mc-heading reveal">Testing the coded website</h2>
    <p class="reveal">When I tested the website again, I finally found what I did wrong. I gave it to four people for testing and overall feedback, and all of them had problems with the toggle on the phone - in my head, they would just click on the camera (or text), but they all tried to swipe. This bug is still not fixed because I can't figure out how, but I am working on it.</p><br>

    <p>One feedback said that it is hard to tell from the landing page that the website is about photography. This should not be an issue (in my opinion) because people will come from advertisements on Facebook or from the Instagram profile, already knowing who Michaela Cibulková is. I might be wrong, and if so, we will make changes to address this issue.</p>
</section>





<section class="section" id="conclusion">

    <h2 class="mc-heading reveal">Future</h2>
    <p class="reveal">The website is still incomplete since I am waiting for texts and photos from the client. Once I have them, I will be able to finish the project, get the final feedback, and hopefully further enhance the overall user experience.</p><br>
    <p>Other plan in progress is connecting the look of website and social media platforms.</p>

</section>





