<div class="section about" id="about">
    <p class="about__text about__text--zindex">
        Hey there, I'm Veronika! Originally knee-deep in science, molecular genetics, and Ph.D. studies, I've taken a turn toward the IT world. Now, I'm on a path to becoming a frontend developer and UX designer. My journey started with <span class="callout czechitas">Czechitas</span>, where I learned to code and I just found myself. I have been learning ever since — taking various courses on <span class="callout udemy">Udemy</span>, improving my coding skills, creating wireframes, UI and prototypes in Figma, and delving into JavaScript programming.
    </p>

    <p class="about__text about__hobbies">
        When I'm not behind the screen, you'll find me running outside with my <span class="callout dog">dog <img class="dog__img" src="/images/marv.png" alt="my dog Marvin"></span> or riding a bike, trying to survive while <span class="callout bikejoring">bikejöring<img class="bikejoring__img" src="/images/bj.svg" alt="bikejo¨ring animation"></span>. During my studies, I used every free moment for <span class="callout firework">
            traveling
            <span class="firework__img fw1">🤍</span>
            <span class="firework__img fw2">💜</span>
            <span class="firework__img fw3">🌿</span>
            <span class="firework__img fw4">🤍</span>
            <span class="firework__img fw5">💜</span>
            <span class="firework__img fw6">💜</span>
            <span class="firework__img fw7">🤍</span>
            <span class="firework__img fw8">🌿</span>
            <span class="firework__img fw9">🤍</span>
            <span class="firework__img fw10">🌿</span>
        </span>, working, and volunteering around the world. Nowadays, most of my journeys lead to the mountains. And yes, I also love a good book, acrylic painting, playing ukulele, and binging on some Netflix shows.
    </p>

        
    <p class="about__text">
        I can't wait to land my first job in the IT industry, excited to keep learning and get to know the "real" IT world and new colleagues!
    </p>
</div>




<div class="section" id="experience">

    
    <div class="exp hover reveal">

        <p class="exp__date">10/23 - present</p>

        <div class="exp__content">
            <h1 class="title">Udemy courses</h1>
            <p class="subtitle">Udemy</p>
            <p class="exp__text">
                <p class="cv">
                    <a class="cv__link" href="https://www.udemy.com/course/the-complete-web-development-bootcamp/" target="_blank">Web Developement</a> - a bit of everything to expand my knowledge and get the whole picture - Bootstrap, jQuery, React.js, Backend Web Developement, Node.js, APIs, SQL 
                </p>
                <p class="cv">
                    <a class="cv__link" href="https://www.udemy.com/course/the-complete-javascript-course/" target="_blank">JavaScript</a> - getting more comfortable with vanilla JavaScript, going through fundamentals again and diggind deeper
                </p>
                <p class="cv">
                    <a class="cv__link" href="https://www.udemy.com/course/figma-ui-ux-design-advanced-tutorial/" target="_blank">Figma, UI/UX</a> - when I need a break from programming, I enjoy learning more about design and Figma
                </p>

                
            </p>
            <p class="subtitle">Currently enrolled</p>
            <div class="usedskill">
                <p class="usedskill__item">JavaScript</p>
                <p class="usedskill__item">jQuery</p>
                <p class="usedskill__item">Bootstrap</p>
            </div>
        </div>

    </div>


    <div class="exp hover reveal">

        <p class="exp__date">05/23 - present</p>

        <div class="exp__content">
            <h1 class="title">JavaScript course</h1>
            <p class="subtitle">Luděk Roleček</p>
            <p class="exp__text">
                So far, this course has covered programming basics (variables, data types, conditions, loops, and functions), DOM and DOM manipulation.
            </p>
            <p class="subtitle">This course is temporarily suspended due to personal reasons of the lector.</p>
            <div class="usedskill">
                <p class="usedskill__item">JavaScript</p>
                <p class="usedskill__item">programing basics</p>
            </div>
        </div>

    </div>

    


    <div class="exp hover reveal">
        <p class="exp__date">02 - 05/23</p>
        <div class="exp__content">
            <h1 class="title">"Become a Coder" course</h1>
            <p class="subtitle">Czechitas</p>
            <p class="exp__text">
                Throughout this course, I learned to code complex and responsive websites using HTML and CSS (with Sass preprocessor) and the BEM methodology. The course covered creating templates, linking sites to content management systems, using static site generators, version control using Git, and working with a remote repository on GitHub. I learned the basics of UX and web design and how to create wireframes and prototypes in Figma.
            </p>
            <div class="usedskill">
                <p class="usedskill__item">HTML</p>
                <p class="usedskill__item">CSS</p>
                <p class="usedskill__item">SCSS</p>
                <p class="usedskill__item">BEM</p>
                <p class="usedskill__item">11ty</p>
                <p class="usedskill__item">Netlify</p>
                <p class="usedskill__item">Figma</p>
                <p class="usedskill__item">UX</p>
            </div>
        </div>
    </div>


    <div class="exp hover reveal">
        <p class="exp__date">2020 - 2023</p>
        <div class="exp__content">
            <h1 class="title">Molecular Geneticist</h1>
            <p class="subtitle">Repromeda, Laboratory of Medical and Reproductive Genetics</p>
            <p class="exp__text">
                As a molecular geneticist in Repromeda, a major IVF center, my responsibilities included genetic testing of embryos and parents-to-be to reduce the risk of birth of an affected child. I engaged in research, development and implementation of new laboratory methods and tests. I also represented the laboratory at conferences and created and delivered presentations showcasing our research.
                <!-- As a molecular geneticist in Repromeda, a major IVF center. My responsibilities included conducting routine examinations such as preimplantation genetic testing of aneuploidies and monogenic diseases in embryos, as well as panel diagnostic tests for parents-to-be (to reduce the risk of birth of an affected child). I engaged in research, development and implementation of new laboratory methods and tests. I also represented the laboratory at conferences and delivered presentations showcasing our research and methodologies. -->
            </p>
            <div class="usedskill">
                <p class="usedskill__item">Presentation</p>
                <p class="usedskill__item">Research</p>
                <p class="usedskill__item">Troubleshooting</p>
                <p class="usedskill__item">Teamwork</p>
            </div>
        </div>       
    </div>


    <div class="exp hover reveal">
        <p class="exp__date">2018 - 2021</p>
        <div class="exp__content">
            <h1 class="title">Research Scientist</h1>
            <p class="subtitle">CEITEC, Labortory of Plant Cytogenomics</p>
            <p class="exp__text">
                As a student and research scientist, I investigated chromosome evolution in a group of plants called Heliophila. I was reconstructing and comparing the chromosome structures in different species using advanced molecular biology and bioinformatics techniques such as genome assembly, sequencing, chromosomal painting and fluorescent microscopy. In addition, I learned to work independently, how to write a good thesis and grant proposals and I especially enjoyed creating graphic schemes for our scientific articles.
            </p>
            <div class="usedskill">
                <p class="usedskill__item">Research</p>
                <p class="usedskill__item">Independence</p>
                <p class="usedskill__item">Initiative</p>
                <p class="usedskill__item">Communication</p>
                <p class="usedskill__item">Grapics</p>
            </div>
        </div>        
    </div>


    <div class="exp hover reveal">
        <p class="exp__date">2019 - 2020</p>
        <div class="exp__content">
            <h1 class="title">Lecturer</h1>
            <p class="subtitle">Masaryk University, Bioscope - Scientific Educational Centre</p>
            <p class="exp__text">
                As a lecturer at Bioscope, I prepared and teached science courses for children, providing a lively introduction to the world of science through interactive and fun experiments.
            </p>
            <div class="usedskill">
                <p class="usedskill__item">Patience</p>
                <p class="usedskill__item">Creativity</p>
                <p class="usedskill__item">Communication</p>
            </div>
        </div>        
    </div>
</div>








<div class="section reveal" id="skills">
    
    <div class="skills">

        <div class="skills__frame">
            <h1 class="title title--skill">HTML5</h1>
            <p class="subtitle">Flexbox, Grid, Responsive Webdesign, BEM, 11ty, Netlify</p>
        </div>

        <div class="skills__frame">
            <h1 class="title title--skill">CSS</h1>
            <p class="subtitle">Animations, Responsive Webdesign, BEM, Sass, Bootstrap</p>
        </div>

        <div class="skills__frame">
            <h1 class="title title--skill">JavaScript</h1>
            <p class="subtitle">basics, DOM, DOM manipulation, jQuery <br><br><i>beginner</i></p> 
        </div>

        <div class="skills__frame">
            <h1 class="title title--skill">Figma</h1>
            <p class="subtitle">Prototypes, Wireframes, Design System</p>
        </div>

        <div class="skills__frame">
            <h1 class="title title--skill">UX/UI</h1>
            <p class="subtitle">Research, Wireframes, Prototyping, User Testing</p>
        </div>

        <div class="skills__frame">
            <h1 class="title title--skill">Git</h1>
            <p class="subtitle">Version Control, GitHub</p>
        </div>

    </div>

</div>








<div class="section" id="projects">

    <p class="subtitle message"> Currently working on case studies to provide a more in-depth showcase of my projects 🔥</p>

    <!-- míša -->
    <div class="project hover reveal">
        
        <h1 class="title">Micheala Cibulková, photographer</h1>
        <p class="subtitle">Photographer's portfolio</p>
        <p class="project__text">Website for a photographer specializing in dog photography. wished to have a place with all the info a client might need - a bit about her background, portfolio, price and services.
        </p>
        

        <div class="usedskill">
            <p class="usedskill__item">Figma</p>
            <p class="usedskill__item">HTML</p>
            <p class="usedskill__item">BEM</p>
            <p class="usedskill__item">Sass</p>
            <p class="usedskill__item">11ty</p>
            <p class="usedskill__item">JavaScript</p>
        </div>

        <a class="project__link" href="https://mcibulkova.netlify.app">
            <div class="project__images">
                <div class="project__container project__container--screen">
                    <div class="project__frame project__frame--screen">
                        <img class="project__image project__image--a" src="/images/project1_screen.png" alt="">
                    </div>
                </div>

                <div class="project__container project__container--phone">
                    <div class="project__frame project__frame--phone">
                        <img class="project__image project__image--b" src="/images/project1_phone.png" alt="">
                    </div>
                </div>
            </div>
        </a>

        <p class="cv cs">
            Go ahead and a read my <a class="cv__link" href="/mc/index.html">Case Study.</a>
        </p>
        <p class="subtitle">(project still in progress)</p>
    </div>


    <!-- kohoutky -->
    <div class="project hover reveal">
        
            <h1 class="title">Kohoutky</h1>
            <p class="subtitle">Imaginery local farm</p>
            <p class="project__text">
                Website for an imaginery local farm was created as a final project for "Become a Coder" course by Czechitas. This project was my first experience in independently developing a website from scratch.</p>
            

            <div class="usedskill">
                <p class="usedskill__item">Figma</p>
                <p class="usedskill__item">HTML</p>
                <p class="usedskill__item">BEM</p>
                <p class="usedskill__item">Sass</p>
                <p class="usedskill__item">11ty</p>
            </div>

            <a class="project__link" href="https://mcibulkova.netlify.app">
                <div class="project__images">
                    <div class="project__container project__container--screen">
                        <div class="project__frame project__frame--screen">
                            <img class="project__image project__image--c" src="/images/project2_screen.jpeg" alt="">
                        </div>
                    </div>

                    <div class="project__container project__container--phone">
                        <div class="project__frame project__frame--phone">
                            <img class="project__image project__image--d" src="/images/project2_phone.jpg" alt="">
                        </div>
                    </div>
                </div>
            </a>

            <p class="cv cs">
                Go ahead and read my <a class="cv__link" href="/koh/index.html">Case Study.</a>
            </p>
        
    </div>


    
    
</div>






<footer class="footer reveal">
    <p class="footer__text">
        This webpage was created by me, designed in <span class="callout white">Figma</span>, coded in <span class="callout white">Visual Studio Code</span> using HTML5, SCSS and JavaScript. Built in <span class="callout white">Netlify</span>.
    </p>

    
    <p class="cv">
        Link to my <a class="cv__link" href="/cv.pdf" target="_blank">Full Resume.</a>
    </p>

    <p class="footer__goodbye">
        <span class="callout color-first">Hope you enjoyed the visit</span>
        <img src="/images/peace.svg" alt="">
    </p>
</footer>



