<div class="section about" id="about">
    <p class="text">

        Hey there, I'm Veronika! Originally knee-deep in science, molecular genetics, and Ph.D. studies, I've taken a turn toward the IT world. Now, I'm on a path to becoming a frontend developer and UX designer. My journey started with <span class="callout czechitas">Czechitas</span>, where I learned to code and I just found myself. I have been learning ever since — improving my coding skills, creating new designs and prototypes in Figma, and delving into JavaScript programming.<br><br>

        When I'm not behind the screen, you'll find me <span class="callout">running</span> outside with my dog or on a bike, trying not to die while <span class="firework">
            bikejöring

            <span class="firework__img fw1">🐶</span>
            <span class="firework__img fw2">🚴🏼‍♀️</span>
            <span class="firework__img fw3">🚴🏼‍♀️</span>
            <span class="firework__img fw4">🐶</span>
            <span class="firework__img fw5">🚴🏼‍♀️</span>
            <span class="firework__img fw6">🚴🏼‍♀️</span>
            <span class="firework__img fw7">🐶</span>
            <span class="firework__img fw8">🚴🏼‍♀️</span>
            <span class="firework__img fw9">🐶</span>
            <span class="firework__img fw10">🚴🏼‍♀️</span>
            
        </span> . I'm all about spending time outdoors and traveling. During my studies, I used every free moment for traveling, working, and volunteering around the world. Nowadays, most of my journeys lead to the mountains — camping and hiking. And yes, I also love a good book, painting, playing ukulele, and binging on some Netflix shows. Lately, I've been thinking about getting into digital painting.<br><br>

        I can't wait to land my first job in the IT industry, excited to keep learning and get to know the "real" IT world.
    </p>
</div>




<div class="section" id="experience">

    <div class="exp hover">

        <p class="exp__date">02/23 - present</p>

        <div class="exp__content">
            <h1 class="title">JavaScript course</h1>
            <p class="subtitle">Luděk Roleček</p>
            <p class="exp__text">
                Lorem ipsum (zkráceně lipsum) je označení pro standardní pseudolatinský text užívaný v grafickém designu a navrhování jako demonstrativní výplňový text při vytváření ukázek grafických návrhů (např. internetových stránek, rozvržení časopisů či všech druhů reklamních materiálů).
            </p>
            <div class="usedskill">
                <p class="usedskill__item">JavaScript</p>
                <p class="usedskill__item">Something</p>
            </div>
        </div>

    </div>


    <div class="exp hover reveal reveal--opacity">
        <p class="exp__date">02 - 05/23</p>
        <div class="exp__content">
            <h1 class="title">"Become a Coder" course</h1>
            <p class="subtitle">Czechitas</p>
            <p class="exp__text">
                Creating websites using HTML/CSS (Sass)Basics of UX design, web design and working with the Figma editor.
            </p>
            <div class="usedskill">
                <p class="usedskill__item">HTML</p>
                <p class="usedskill__item">CSS</p>
                <p class="usedskill__item">SCSS</p>
                <p class="usedskill__item">BEM</p>
                <p class="usedskill__item">Figma</p>
                <p class="usedskill__item">UX</p>
            </div>
        </div>
    </div>


    <div class="exp hover reveal reveal--opacity">
        <p class="exp__date">2020 - 2023</p>
        <div class="exp__content">
            <h1 class="title">Molecular Geneticist</h1>
            <p class="subtitle">Repromeda</p>
            <p class="exp__text">
                Molecular geneticist responsible for preimplantation genetic testing of aneuploidies and monogenic diseases in embryos, panel diagnostic tests for parents-to-be (to reduce the risk of birth of an affected child) and research and development of new methods and tests, representation of the laboratory at conferences
            </p>
        </div>       
    </div>


    <div class="exp hover reveal reveal--opacity">
        <p class="exp__date">2018 - 2021</p>
        <div class="exp__content">
            <h1 class="title">Research Scientist</h1>
            <p class="subtitle">CEITEC, Labortory of plant cytogenomics</p>
            <p class="exp__text">
                Screening of chromosome numbers in the genus Heliophila and the reconstruction and comparison of the chromosome structures in selected species using genome assembly, comparative painting of chromosomes, fluorescent microscopy.
            </p>
        </div>        
    </div>



</div>








<div class="section reveal reveal--opacity" id="skills">
    
    <div class="skills">

        <div class="skills__frame">
            <h1 class="title title--skill">HTML5</h1>
            <p class="subtitle">Flexbox, Grid, Responsive Webdesign, BEM, Eleventy</p>
        </div>

        <div class="skills__frame">
            <h1 class="title title--skill">CSS</h1>
            <p class="subtitle">Animations, Responsive Webdesign, SASS preprocessor</p>
        </div>

        <div class="skills__frame">
            <h1 class="title title--skill">JavaScript</h1>
            <p class="subtitle">variables and data types, conditions, functions, cycles</p>
        </div>

        <div class="skills__frame">
            <h1 class="title title--skill">Figma</h1>
            <p class="subtitle">prototypes, components, autolayout, design system</p>
        </div>

        <div class="skills__frame">
            <h1 class="title title--skill">UX/UI</h1>
            <p class="subtitle">research, wireframes, user testing</p>
        </div>

        <div class="skills__frame">
            <h1 class="title title--skill">Git</h1>
            <p class="subtitle">version control, GitHub</p>
        </div>

    </div>

</div>








<div class="section" id="projects">

    <!-- míša -->
    <div class="project hover reveal reveal--opacity">
        <h1 class="title">Micheala Cibulková, photographer</h1>
        <p class="subtitle">Photographer's portfolio</p>
        <p class="project__text">Website for an young photographer of dogs and weddings. Aenean id metus id velit ullamcorper pulvinar. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique.</p>

        <div class="usedskill">
            <p class="usedskill__item">Figma</p>
            <p class="usedskill__item">HTML</p>
            <p class="usedskill__item">BEM</p>
            <p class="usedskill__item">SASS</p>
            <p class="usedskill__item">11ty</p>
            <p class="usedskill__item">JavaScript</p>
        </div>

        <div class="project__images">
            <div class="project__container project__container--screen">
                <div class="project__frame project__frame--screen">
                    <img class="project__image project__image--a" src="/images/project1_screen.png" alt="">
                </div>
            </div>

            <div class="project__container project__container--phone">
                <div class="project__frame project__frame--phone">
                    <img class="project__image project__image--b" src="/images/project1_phone.png" alt="">
                </div>
            </div>
        </div>
    </div>


    <!-- kohoutky -->
    <div class="project hover reveal reveal--opacity">
        <h1 class="title">Kohoutky</h1>
        <p class="subtitle">Imaginery local farm</p>
        <p class="project__text">Website of an imaginary farm Kohoutky was created as a final project for the course “Become a coder” (Czechitas). It was my first experience with creating my own project from scratch.</p>

        <div class="usedskill">
            <p class="usedskill__item">Figma</p>
            <p class="usedskill__item">HTML</p>
            <p class="usedskill__item">BEM</p>
            <p class="usedskill__item">SASS</p>
            <p class="usedskill__item">11ty</p>
            <p class="usedskill__item">JavaScript</p>
        </div>

        <div class="project__images">
            <div class="project__container project__container--screen">
                <div class="project__frame project__frame--screen">
                    <img class="project__image project__image--a" src="/images/project1_screen.png" alt="">
                </div>
            </div>

            <div class="project__container project__container--phone">
                <div class="project__frame project__frame--phone">
                    <img class="project__image project__image--b" src="/images/project1_phone.png" alt="">
                </div>
            </div>
        </div>
    </div>


    
    
</div>





<!-- <div class="section" id="contact">
    <p class="text">
        CONTACT<br>Lorem ipsum (zkráceně lipsum) je označení pro standardní pseudolatinský text užívaný v grafickém designu a navrhování jako demonstrativní výplňový text při vytváření pracovních ukázek grafických návrhů (např. internetových stránek, rozvržení časopisů či všech druhů reklamních materiálů).<br>
        Pokud by se pro stejný účel použil smysluplný text, bylo by těžké hodnotit pouze vzhled, aniž by se pozorovatel nechal svést ke čtení obsahu.<br>
        Pokud by byl naopak použit nesmyslný, ale pravidelný text (např. opakování „asdf asdf asdf…“), oko by při posuzování vzhledu bylo vyrušováno pravidelnou strukturou textu, která se od běžného textu liší.
    </p>
</div> -->

<footer class="footer">
    <p class="footer__text">
        This webpage was created by me, designed in <span class="callout white">Figma</span>, coded in <span class="callout white">Visual Studio Code</span> using HTML5, SCSS and JavaScript with a bit of help from ChatGPT. Built in <span class="callout white">Netlify</span>.
    </p>

    <p class="footer__goodbye">
        <span class="callout color-second">Hope you enjoyed the visit</span>
        <img src="/images/peace.svg" alt="">
    </p>
</footer>


