<div class="section" id="about">
    <p class="text">
        ABOUT<br> Lorem ipsum (zkráceně lipsum) je označení pro standardní pseudolatinský text užívaný v grafickém designu a navrhování jako výplňový text při vytváření pracovních ukázek grafických návrhů (např. internetových stránek, rozvržení časopisů či všech druhů reklamních materiálů).<br>
        Pokud by se pro stejný účel použil smysluplný text, bylo by těžké hodnotit pouze vzhled, aniž by se pozorovatel nechal svést ke čtení obsahu.<br>
        Pokud by byl naopak použit
        
        <span class="color-second firework">
            hobbies

            <span class="firework__img fw1">🐄</span>
            <span class="firework__img fw2">🐄</span>
            <span class="firework__img fw3">🐄</span>
            <span class="firework__img fw4">🐄</span>
            <span class="firework__img fw5">🐄</span>
            <span class="firework__img fw6">🐄</span>
            <span class="firework__img fw7">🐄</span>
            <span class="firework__img fw8">🐄</span>
            <span class="firework__img fw9">🐄</span>
            <span class="firework__img fw10">🐄</span>
            
        </span>

        nesmyslný, ale pravidelný text (např. opakování „asdf asdf asdf…“), oko by při posuzování vzhledu bylo vyrušováno pravidelnou strukturou textu, která se od běžného textu liší.
    </p>
</div>

<div class="section" id="experience">
    <p class="text">
        EXPERIENCE<br> Lorem ipsum (zkráceně lipsum) je označení pro standardní pseudolatinský text užívaný v grafickém designu a navrhování jako demonstrativní výplňový text při vytváření pracovních ukázek grafických návrhů (např. internetových stránek, rozvržení časopisů či všech druhů reklamních materiálů).<br>
        Pokud by se pro stejný účel použil smysluplný text, bylo by těžké hodnotit pouze vzhled, aniž by se pozorovatel nechal svést ke čtení obsahu.<br>
        Pokud by byl naopak použit nesmyslný, ale pravidelný text (např. opakování „asdf asdf asdf…“), oko by při posuzování vzhledu bylo vyrušováno pravidelnou strukturou textu, která se od běžného textu liší.
    </p>
</div>

<div class="section" id="skills">
    <p class="text">
        SKILLS<br> Lorem ipsum (zkráceně lipsum) je označení pro standardní pseudolatinský text užívaný v grafickém designu a navrhování jako demonstrativní výplňový text při vytváření pracovních ukázek grafických návrhů (např. internetových stránek, rozvržení časopisů či všech druhů reklamních materiálů).<br>
        Pokud by se pro stejný účel použil smysluplný text, bylo by těžké hodnotit pouze vzhled, aniž by se pozorovatel nechal svést ke čtení obsahu.<br>
        Pokud by byl naopak použit nesmyslný, ale pravidelný text (např. opakování „asdf asdf asdf…“), oko by při posuzování vzhledu bylo vyrušováno pravidelnou strukturou textu, která se od běžného textu liší.
    </p>
</div>

<div class="section" id="projects">
    <p class="text">
        PROJECTS<br> Lorem ipsum (zkráceně lipsum) je označení pro standardní pseudolatinský text užívaný v grafickém designu a navrhování jako demonstrativní výplňový text při vytváření pracovních ukázek grafických návrhů (např. internetových stránek, rozvržení časopisů či všech druhů reklamních materiálů).<br>
        Pokud by se pro stejný účel použil smysluplný text, bylo by těžké hodnotit pouze vzhled, aniž by se pozorovatel nechal svést ke čtení obsahu.<br>
        Pokud by byl naopak použit nesmyslný, ale pravidelný text (např. opakování „asdf asdf asdf…“), oko by při posuzování vzhledu bylo vyrušováno pravidelnou strukturou textu, která se od běžného textu liší.
    </p>
</div>

<div class="section" id="contact">
    <p class="text">
        CONTACT<br>Lorem ipsum (zkráceně lipsum) je označení pro standardní pseudolatinský text užívaný v grafickém designu a navrhování jako demonstrativní výplňový text při vytváření pracovních ukázek grafických návrhů (např. internetových stránek, rozvržení časopisů či všech druhů reklamních materiálů).<br>
        Pokud by se pro stejný účel použil smysluplný text, bylo by těžké hodnotit pouze vzhled, aniž by se pozorovatel nechal svést ke čtení obsahu.<br>
        Pokud by byl naopak použit nesmyslný, ale pravidelný text (např. opakování „asdf asdf asdf…“), oko by při posuzování vzhledu bylo vyrušováno pravidelnou strukturou textu, která se od běžného textu liší.
    </p>
</div>

<footer class="footer">
    <p class="footer__text">
        This webpage was created by me, designed in <span class="callout white">Figma</span>, coded in <span class="callout white">Visual Studio Code</span> using HTML5, SCSS and JavaScript with a bit of help from ChatGPT. Built in <span class="callout white">Netlify</span>.
    </p>

    <p class="footer__goodbye">
        <span class="callout color-second">Hope you enjoyed the visit</span>
        <img src="/images/peace.svg" alt="">
    </p>
</footer>