<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veronika Holá</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&family=Vina+Sans&display=swap" rel="stylesheet">

    <meta property="og:title" content="Veronika Holá">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://veronikahola.com/images/meta.png">
	<meta property="og:url" content="https://veronikahola.com">

	<meta property="og:locale" content="cs_CZ">
</head>


<body class="body">


<!-- for phone menu (hidden on wide screen) -->
<div class="wrapper">
    <div class="mobile-menu">
        <ul class="mobile-nav">
            <li class="mobile-nav__item" data-target="about">About</li>
            <li class="mobile-nav__item" data-target="experience">Experience</li>
            <li class="mobile-nav__item" data-target="skills">Skills</li>
            <li class="mobile-nav__item" data-target="projects">Projects</li>
            <!-- <li class="mobile-nav__item" data-target="contact">Contact</li> -->
        </ul>
    </div>

<!-- left side -->
    <section class="left">

        <h1 class="logo"> <span id="typing-animation">Veronika Hola</span></h1>

        <p class="meta">Originally a molecular geneticist, now an aspiring <span class="callout">junior</span> <span class="callout color-first">Frontend Developer</span> | <span class="callout color-second">UX Designer</span> at the beginning of a career change</p>
      

        <div class="nav">
            <a href="#about" class="nav__item">about me</a>
            <a href="#experience" class="nav__item">experience</a>
            <a href="#skills" class="nav__item">skills</a>
            <a href="#projects" class="nav__item">projects</a>
            <!-- <a href="#contact" class="nav__item">contact</a> -->
        </div>
      

        <div class="icons">
            <a class="icons__item" href="https://github.com/veronikahola">
                <img src="/images/icon_github.svg" alt="icon github">
            </a>

            <a class="icons__item" href="https://www.instagram.com/veruhol/">
                <img src="/images/icon_ig.svg" alt="icon instagram">
            </a>

            <a class="icons__item" href="https://www.linkedin.com/in/veronika-holá-7b30201a3/">
                <img src="/images/icon_ln.svg" alt="icon linkedin">
            </a>

            <a class="icons__item" href="/cv.pdf" target="_blank">
                <img src="/images/icon_CV.svg" alt="icon CV">
            </a>
        </div>

    </section>

<!-- right side -->
    <section class="right">

        {% include "partials/right.njk" %}

    </section>

</div>


<!-- for cursor effects -->
<div class="cursor-halo"></div>

<script src="/js/gsap.min.js"></script>
<script src="/js/cursor.js"></script>
<script src="/js/nav.js"></script>
<script src="/js/reveal.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const targetElement = document.getElementById("typing-animation");
        const textToType = "veronika hola";
        const typingSpeed = 100;
        const startDelay = 0; // 5 seconds delay      
        targetElement.textContent = "";

        function typeText(index) {
            if (index <= textToType.length) {
                targetElement.textContent = textToType.substring(0, index);
                setTimeout(function () {
                    typeText(index + 1);
                }, typingSpeed);
            }
        }
  
        setTimeout(function () {
            typeText(0);
        }, startDelay);
    });
</script>
</body>
</html>